.hover:hover{
	background: rgba(0,0,0,0.3);
	color: #fff;
}

.req{
	color: red !important;
}

.menu-icon{
	font-size: 20px;
}

.email-subject{
	font-size: 20px;
}
.ib{
	display: inline-block;
}

.to-item{
	align-items: center;
    background-color: #fff;
    border: 1px solid #dadce0;
	border-radius: 10px;
	box-sizing: border-box;
    height: 20px;
    line-height: 20px;
    margin: 2px 0;
    padding-left: 8px;
    padding-right: 4px;
}

.to-item-remove{
	height: 16px;
    opacity: 0.54;
    width: 16px;
    background-image: url(../images/close_black_16dp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px;
    margin-left: 4px;
}

.toggler-white{
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.compose-input{
	font-size: .875rem;
    border: 0!important;
    margin: 0!important;
	outline:none;
	box-shadow: none;
	width: 100%;
	height: 100%;
}